:root {
	--color-primary: #1b91ff;
	--sides-padding: 30px;
	--appbar-height: 60px;
}

html,
body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.6;
	font-size: 18px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}